.cardcontainer{
  width: 30vh;
  height: 50vh;
  background-color: #C2361D;
  margin-top: 60px;
  margin-left: 15px;
  border-radius: 8px;
}
.cardElements{
  margin-left: 10px;
  display: block;
  color: white;
}
.botonComp{
  background-color: #752112;
}
.add{
  justify-content: center;
  margin-left:14%;
  margin-top: 5%;
  color: white;
}
.details {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0;
  justify-content: center;
  margin-left: 8%;
  background-color: white;
  border-radius: 5px;
}

@media screen and (max-width:1280px){
  .add{
    justify-content: center;
    margin-left:2vh;
    margin-top: 1%;
    
    color: white;
  }
  .details {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0;
    justify-content: center;
    margin-left: 8%;
    background-color: white;
    border-radius: 5px;
  }

}

@media screen and (max-width:1000px){
  .add{
    justify-content: center;
    margin-left:2vh;
    margin-top: 5%;
    
    color: white;
  }
}

@media screen and (max-width:700px){
  .add{
    justify-content: center;
    margin-left:30vh;
    margin-top: 5%;
    
    color: white;
  }
}
@media screen and (max-width:600px){
  .add{
    justify-content: center;
    margin-left:25vh;
    margin-top: 5%;
    
    color: white;
  }
}
@media screen and (max-width:530px){
  .add{
    justify-content: center;
    margin-left:20vh;
    margin-top: 5%;
    
    color: white;
  }
}
@media screen and (max-width:450px){

  .add{
    justify-content: center;
    margin-left:8vh;
    margin-top: 5%;
    color: white;
  }
 
}