.mainContainer{
   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  margin-left: 1vh;
}


@media screen and (max-width:1000px){
  .mainContainer{
      width: 95%;
  }
}

@media screen and (max-width:700px){
  .mainContainer{
      width: 90%;
  }
}

@media screen and (max-width:450px){
  
  .mainContainer{
      width: 98%;
  }
 
}