
@keyframes ldio-38lahj6c6j4-1 {
  0% { top: 61.88px; height: 240.24px }
  50% { top: 121.94px; height: 120.12px }
  100% { top: 121.94px; height: 120.12px }
}
@keyframes ldio-38lahj6c6j4-2 {
  0% { top: 76.895px; height: 210.21px }
  50% { top: 121.94px; height: 120.12px }
  100% { top: 121.94px; height: 120.12px }
}
@keyframes ldio-38lahj6c6j4-3 {
  0% { top: 91.91px; height: 180.18px }
  50% { top: 121.94px; height: 120.12px }
  100% { top: 121.94px; height: 120.12px }
}
.ldio-38lahj6c6j4 div { position: absolute; width: 43.68px }.ldio-38lahj6c6j4 div:nth-child(1) {
  left: 69.16px;
  background: #7b0000;
  animation: ldio-38lahj6c6j4-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}
.ldio-38lahj6c6j4 div:nth-child(2) {
  left: 160.16px;
  background: #c34c37;
  animation: ldio-38lahj6c6j4-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}
.ldio-38lahj6c6j4 div:nth-child(3) {
  left: 251.16px;
  background: #fd7f64;
  animation: ldio-38lahj6c6j4-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-9vuxkj0tl4w {
  width: 364px;
  height: 364px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-38lahj6c6j4 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-38lahj6c6j4 div { box-sizing: content-box; }

